<div class="row">
  <div class="span12">
    <h2>Upload your file</h2>
    <!-- <form action="#" class="form-stacked" method="post" enctype="multipart/form-data">
      <fieldset>
        <!-- <legend>Upload your file:</legend>
        <div class="clearfix"> -->
          <div class="input">
            <span id="selectFilesButton"></span>
            <div class="progress">
              <span class="bar"></span>
              <span class="text">
              </span>
            </div>
          </div>
        <!-- </div>
      </fieldset>
      <div class="actions">
        <button type="submit" class="btn primary">Upload</button>
      </div>
    </form> -->
  </div>
  <div class="span4">
    <h2>Instructions</h2>
    <ol>
      <li>Choose your file</li>
      <li>Click upload</li>
    </ol>
    <dl>
      <dt>Accepted file types</dt>
      <dd>MP4, MOV, AVI</dd>
      <dt>Max file size</dt>
      <dd>1 GB</dd>
    </dl>
  </div>
</div>